nav{
    width: 100%;
    /* background-color: #696464; */
    background-color: #fb929e;
    height: 115px;
}
#navRight{

}

#links{
    display: flex;
    justify-content: space-around;
    color: white;
    position: relative;
    top: 10px;
}
#navLeft{
    display: flex;;
    color: white;
    opacity: 0.8;
    justify-content: center;
}

#bod{
    width:100%;
    height:600px;
    background-color: black;
    margin: 0;
}
#footer{
    background-color: white;
    height: 300px;
    margin: 0;
}
.footpic{
    height: 300px;
    object-fit:contain;
    transition: all 2s;
    animation-fill-mode: forwards;
}

#footpic3:hover{
    transform: translateX(245px);
}

#footpic2:hover{
    transform: rotate(360deg)
}
#footpic1:hover{
    transform: rotateY(360deg)
}
#footpic:hover{
     transform: rotateX(360deg)
}
#footText{
        /* float: left; */
        display: inline-flex;
}
.w-100{
    width:100%;
    height: 600px;
}
/* body{ 
    margin: 0;
    background: repeating-linear-gradient(
 to right,
 #f6ba52,
 #f6ba52 10px,
 #ffd180 10px,
 #ffd180 20px
);
}*/
p{
    font-family: cursive;
    font-size: 1.5em
}
#section1{
    background-color:  #ffdfdf;
    width: 550px;
}
#section2{
    background-color: #fff6f6;
    width: 799px;
    transition: all .8s;
}

#title{
    
}
button{
    border: none;
    padding: 100px;
    background-color: #fff6f6;
    
}
.pic-box{
    display: flex;
    justify-content: flex-start;
} 
#log{
    object-fit: contain;
    position: absolute;
    width:220px;
    height: 200px;
    right:295px;
    top:1050px;
    /* position: absolute; */
}
#footpic3{
    position: relative;
}